body{
	background: #eee;
	font-family: "微软雅黑"
}
#wrap{
	width: 100%;
	.nav{
		li{
			font-weight: bolder;
			margin-right: 20px;
		}
		background-color: #2553a0;
		padding: 20px;
	}
	.navbar-brand{
		color: #FFF;
		font-size: 30px;
		font-weight: bolder;
		cursor: default;
	}
}